{% extends 'Message:Mothership:ControlPanel::_templates/full_slideout' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@Message:Mothership:ReferAFriend::resources/assets/js/setup.js'

    output='/assets/js/ms_refer_a_friend.js'
    filter='?jsmin'

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block main %}
    <hgroup class="title">
        <h1>Refer a Friend</h1>
        <div class="controls refer-a-friend">
            <a href="{{ url('ms.cp.refer_a_friend.create')}}" class="buttonrefer-a-friend" data-live>Configuration settings</a>
        </div>
    </hgroup>

    <div class="container-content">
        {{ render(controller('Message:Mothership:ReferAFriend::Controller:Dashboard#currentConfig')) }}

        {{ render(controller('Message:Mothership:ReferAFriend::Controller:Dashboard#referralTable')) }}
    </div>
{% endblock %}