<table class="table-filter referrals">
    <colgroup>
        <col width="100">
        <col width="50">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>Referrer</th>
        <th>Referred name</th>
        <th>Referred email</th>
        <th>Status</th>
        <th>Configuration</th>
        <th class="disable">Created at</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Referrer</th>
        <th>Referred name</th>
        <th>ReferredEmail</th>
        <th>Status</th>
        <th>Configuration</th>
        <th class="a-center"><a href="#" class="clear-filters">Clear filters</a></th>
    </tr>
    </tfoot>
    <tbody>
    {% for referral in referrals %}
        <tr>
            <td>{{ referral.id }}</td>
            <td>{{ referral.referrer.name }}</td>
            <td>{{ referral.referredName }}</td>
            <td>{{ referral.referredEmail }}</td>
            <td>{{ referral.status | capitalize }}</td>
            <td>
                <a href="{{ url('ms.cp.refer_a_friend.view_config', {'configID': referral.rewardConfig.getID}) }}" data-live>
                {{ referral.rewardConfig.fullName }}
                </a>
            </td>
            <td>{{ referral.createdAt | date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
