<div class="container-content">
    <table class="table-filter products">
        <colgroup>
            <col width="100">
            <col width="50">
            <col>
            <col>
            <col>
            <col width="100">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>Referrer</th>
            <th>Referred name</th>
            <th>Referred email</th>
            <th class="disable">Status</th>
            <th class="disable">Created at</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Referrer</th>
            <th>Referred name</th>
            <th>ReferredEmail</th>
            <th>Status</th>
            <th class="a-center"><a href="#" class="clear-filters">Clear filters</a></th>
        </tr>
        </tfoot>
        <tbody>
        {% for referral in referrals %}
            <tr>
                <td>{{ referral.id }}</td>
                <td>{{ referral.referrer.name }}</td>
                <td>{{ referral.referredName }}</td>
                <td>{{ referral.referredEmail }}</td>
                <td>{{ referral.status }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>