{{ form_start(form, {'action': action}) }}
    {{ form_row(form['name']) }}
    {{ form_label(form['message']) }}
    <p>{{ 'ms.refer.form.config.message.help' | trans }}</p>
    {{ form_widget(form['message']) }}
    {{ form_rest(form) }}
    <button type="submit" class="button small save">
        Save
    </button>
{{ form_end(form) }}