{% extends 'Message:Mothership:ReferAFriend::refer_a_friend:cp:dashboard' %}

{% block slideAttr 'data-slide-loaded' %}

{% block slide %}
    <div class="container-content create-page extended">
        <h1>{{ rewardConfig.fullName }}</h1>

        <p><strong>Message</strong></p>

        <p>{{ rewardConfig.message }}</p>

        {% if rewardConfig.constraints | length > 0 %}
            <h2>Constraints</h2>
            {% for constraint in rewardConfig.constraints %}
                <p><strong>{{ constraint.displayName | trans }}:</strong> {{ constraint.value | capitalize }}</p>
            {% endfor %}
        {% endif %}

        {% if rewardConfig.triggers | length > 0 %}
            <h2>Trigger</h2>
            {% for trigger in rewardConfig.triggers %}
                <p><strong>{{ trigger.displayName | trans }}</strong>: {{ trigger.description | trans }}</p>
            {% endfor %}
        {% endif %}

        {% if rewardConfig.rewardOptions | length > 0 %}
            <h2>Reward Options</h2>
            {% for option in rewardConfig.rewardOptions %}
                <p><strong>{{ option.displayName | trans }}</strong>: {{ option.value | capitalize }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}